{% extends 'account/base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Parking Places{% endblock %}

{% block main_heading %}
    Park Your Vehicle Here...
{% endblock %}
{% block header_content %}
    <p>find one of the best parking place that suits you need!</p>
{% endblock %}

{% block body %}
    <section>
        <h2>Park here</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% for slot in slots %}
                    <li class="breadcrumb-item active" aria-current="page">{{ slot.car_id }}</li>
                {% endfor %}
            </ol>
        </nav>
        <form method="POST">
            {% csrf_token %}
            {% for field in park_form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {% render_field field class="car_id_change form-control" %}
                    <small style="color: red">
                        {{ field.errors }}
                    </small>
                </div>
            {% endfor %}
            <button class="btn btn-success">Park</button>
            <button class="reset btn btn-danger">Reset</button>
        </form>

        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-2 " role="alert">
                <strong>Message: </strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </section>
    <script>
        document.querySelector('.reset').addEventListener('click', function (e) {
            e.preventDefault();

            document.querySelector(".car_id_change").value = "";
        })
    </script>
{% endblock %}